.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-modal);
}

.modal .body {
  position: relative;
  padding: var(--gap);
  width: calc(100% - 40px);
}

.modal .close {
  top: -10px;
  right: -10px;
  cursor: pointer;
  font-size: 30px;
  color: var(--white);
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px 3px var(--black);
}

@media only screen and (min-width: 768px) {
  .modal .body {
    width: auto;
  }
}
