.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0477bf66;
}

.modal .body {
  position: relative;
  padding: var(--gap);
  background: var(--white);
  width: var(--modal-container-width);
}

.modal .close {
  color: var(--black);
  position: absolute;
  top: calc(var(--gap) / 2);
  right: calc(var(--gap) / 2);
}
