.card {
  --icon-size: 18px;
  --cards-margin: var(--gap);
  --elemts-margin-top: var(--gap);

  display: flex;
  padding: 10px;
  font-size: 16px;
  transition: all 0.5s;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  color: var(--paragraph-color);
  transition: opacity 400ms ease 0ms;
  margin: calc(var(--cards-margin) / 2);
  width: calc(100% / var(--num-cards) - var(--cards-margin));
}

.card img {
  cursor: pointer;
}

.card img:hover {
  opacity: 0.8;
}

.card-title {
  font-size: 14px;
  font-weight: normal;
  margin-top: var(--gap);
  word-break: break-word;
}
